## İLERİ TOPLULASTIRMA FONKSİYONLAR
* FİLTER
* APPLY
* AGGREGATE
* TRANSFORM

In [2]:
import pandas as pd
import numpy as np
import seaborn as sn
#aggregate fonksiyonu

In [9]:
df= pd.DataFrame({"Gruplar":["A","B","C","A","B","C"],
             "Deg1":[10,23,33,45,65,70],
             "Deg2":[100,253,333,200,320,420]},
                columns = ["Gruplar","Deg1","Deg2"])
df

  Gruplar  Deg1  Deg2
0       A    10   100
1       B    23   253
2       C    33   333
3       A    45   200
4       B    65   320
5       C    70   420

In [13]:
df.groupby("Gruplar").mean()

         Deg1   Deg2
Gruplar
A        27.5  150.0
B        44.0  286.5
C        51.5  376.5

In [15]:
df.groupby("Gruplar").aggregate(["min",max,np.median]) # min ve mac pandas fonksiyonu oldgu için tanır 
# fakat numpay içinde çahırdıgmz fomksiyounu str yazamayız çunku tanımaz.

        Deg1            Deg2
         min max median  min  max median
Gruplar
A         10  45   27.5  100  200  150.0
B         23  65   44.0  253  320  286.5
C         33  70   51.5  333  420  376.5

In [18]:
# BURADA SOYLE BİR KOLAYLIK VAR GRUPLAMAYI YAPTIKTAN SONRA, MERSELA BİRİNCİ 
#DEGİSKEN FARKLI IKINCI DEGİSKEN İÇİN DAHA FARKLI BİR FONKSİYON CAGIRA BİLİRZ 
# BUNUN İÇİN SOZLUK YAPISINDA FAYDALANIRIZ.
df.groupby("Gruplar").aggregate({"Deg2": min,"Deg1":max})

         Deg2  Deg1
Gruplar
A         100    45
B         253    65
C         333    70

In [20]:
#FILTER FONKSİYONU : DEGİSKENLER UZERİNDE SORGULAR İCİN KULLANICAZ

In [36]:
df.groupby("Gruplar").std()

              Deg1       Deg2
Gruplar
A        24.748737  70.710678
B        29.698485  47.376154
C        26.162951  61.518290

In [37]:
def filter_func(x):
    return(x["Deg1"]).std() <27

In [38]:
df.groupby("Gruplar").filter(filter_func)

  Gruplar  Deg1  Deg2
0       A    10   100
2       C    33   333
3       A    45   200
5       C    70   420

In [39]:
# TRANSFORM İLE İSİMSİZ FONKSİYONLAR KULLANILIR.
df["Deg1"]*9

0     90
1    207
2    297
3    405
4    585
5    630
Name: Deg1, dtype: int64

In [41]:
df.transform(lambda x: x-xmean())   #direk böyle calıstırsak hata alırız iloc kullanırz

NameError: ("name 'xmean' is not defined", 'occurred at index Gruplar')

In [45]:
df_a= df.iloc[:,1:3]  #Eger pandas dataframleri üzeinde bir secim işlemi yacaksak ve indexlere baglı kalmayacaksak "iloc" kullanccaz
df_a

   Deg1  Deg2
0    10   100
1    23   253
2    33   333
3    45   200
4    65   320
5    70   420

In [53]:
df_a.transform(lambda x: x-x.mean()) # bu sfer oldu..

   Deg1   Deg2
0 -31.0 -171.0
1 -18.0  -18.0
2  -8.0   62.0
3   4.0  -71.0
4  24.0   49.0
5  29.0  149.0

In [52]:
df_a.transform(lambda x: (x-x.mean())/ x.std()) # yukarıdaki ile farkları gözukuyor..

       Deg1      Deg2
0 -1.314220 -1.522761
1 -0.763096 -0.160291
2 -0.339154  0.552112
3  0.169577 -0.632257
4  1.017461  0.436347
5  1.229432  1.326850

## APPLY DATAFRAMLER ÜZERİNDE GEZİNE BİLEN VE AGGRAGATE ÖZELLİĞİ OLAN BİR FONKSİYONDU

In [55]:
df.apply(np.sum)

Gruplar    ABCABC
Deg1          246
Deg2         1626
dtype: object

In [59]:
df.apply(np.max)

Gruplar      C
Deg1        70
Deg2       420
dtype: object

In [64]:
df.groupby("Gruplar").apply(np.mean)

         Deg1   Deg2
Gruplar
A        27.5  150.0
B        44.0  286.5
C        51.5  376.5