In [2]:
import pandas as pd
import numpy as np

In [46]:
df1= pd.DataFrame({"Calısanlar":["ALI","VELI","EBRU","METIN"],
                  "Departmanlar":["muhasebe","maliye","arge","idare"]})
df2 = pd.DataFrame({"Calısanlar":["ALI","VELI","EBRU","METIN"],
                    "Yılı": [2010,2011,2012,2009]})
df3 = pd.DataFrame({"Calısanlar":["ALI","VELI","EBRU","METIN"],
                   "Maas": ["10 binTL","11 binTL","12 binTL","13 binTL"]})
df5 = pd.DataFrame ({"Departmanlar":["IK","MUHENDISLIK","muhasebe","arge","idare"],
                     "Mudur": ["caner","fatma","ebru","YOK","YOK"]})
df6 = pd.DataFrame ({"Departmanlar":["IK","MUHENDISLIK","MUHENDISLIK","muhasebe","muhasebe","arge","idare"],
                     "ozellikler":["matematik","exel","tasra","kodlama","parasayma", "lınux","atama"]})

In [23]:
pd.merge(df4,df3, on = "Calısanlar") # On fonksiyonu olmasada olur, cunku merge fonksiyonu ortak suutn hangisi ise ona göre birlestirir

  Calısanlar Departmanlar  Yılı      Maas
0        ALI     muhasebe  2010  10 binTL
1       VELI       maliye  2011  11 binTL
2       EBRU         arge  2012  12 binTL
3      METIN        idare  2009  13 binTL

In [26]:
df5                   # df4 = df1+df2+df3

  Departmanlar  Mudur
0           IK  caner
1  MUHENDISLIK  fatma
2     muhasebe   ebru

In [39]:
pd.merge(df4,df5) # many to one joın

  Calısanlar Departmanlar  Yılı Mudur
0        ALI     muhasebe  2010  ebru
1       EBRU         arge  2012   YOK
2      METIN        idare  2009   YOK

In [47]:
df6

  Departmanlar ozellikler
0           IK  matematik
1  MUHENDISLIK       exel
2  MUHENDISLIK      tasra
3     muhasebe    kodlama
4     muhasebe  parasayma
5         arge      lınux
6        idare      atama

In [52]:
pd.merge(df1,df6) #many to many joın

  Calısanlar Departmanlar ozellikler
0        ALI     muhasebe    kodlama
1        ALI     muhasebe  parasayma
2       EBRU         arge      lınux
3      METIN        idare      atama