In [9]:
import numpy as np
import pandas as pd

In [14]:
m = np.random.randint(1,30,size=(10,3))
m

array([[28, 27, 25],
       [19, 29, 14],
       [ 6, 13, 29],
       [ 9, 15, 23],
       [ 7, 12,  3],
       [ 6, 13, 27],
       [11, 15, 13],
       [28,  7, 20],
       [19, 27,  8],
       [20, 20,  2]])

In [15]:
df= pd.DataFrame(m,columns= ["met1","met2","met3"])
df

   met1  met2  met3
0    28    27    25
1    19    29    14
2     6    13    29
3     9    15    23
4     7    12     3
5     6    13    27
6    11    15    13
7    28     7    20
8    19    27     8
9    20    20     2

In [16]:
#loc kullanımı TANIMLANDIĞI ŞEKİLDE KULLANILIR 'E KADAR dahil' ANLAMI TASIR

In [19]:
df.loc[0:3] # burada mesela 0 dan 3 e kadar 3 dahil demektedir

   met1  met2  met3
0    28    27    25
1    19    29    14
2     6    13    29
3     9    15    23

In [21]:
df.iloc[0:3] #  iloc ise loc ile aynı anlamda fakat dahil degildir secimi yapar. 0 dan 3 e kadar 3 haric

   met1  met2  met3
0    28    27    25
1    19    29    14
2     6    13    29

In [23]:
df.iloc[0:3,0:2] # o dan 3 e kadar 3 dahil degil

   met1  met2
0    28    27
1    19    29
2     6    13

In [26]:
df.loc[0:3,"met1"] # 0 dan 3 e kadar 3 dahil met1 sutunu

0    28
1    19
2     6
3     9
Name: met1, dtype: int32

In [27]:
df.iloc[0:3]["met2"]

0    27
1    29
2    13
Name: met2, dtype: int32